In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data.csv", sep=",", encoding="utf-8")

In [4]:
df = df[["objectID", "isHighlight", "accessionYear", "isPublicDomain",
         "objectName", "artistDisplayName", "artistNationality",
         "artistGender", "objectBeginDate", "objectEndDate",
         "country"
        ]]

In [7]:
df["artistNationality"].unique()

array(['Italian', 'Emilian', 'Netherlandish', 'French', 'Dutch', 'Swiss',
       nan, 'British', 'Czech', 'Belgian', 'British, born Ireland',
       'German', 'German, born Switzerland', 'Spanish', 'Austrian',
       'Romanian', 'British, born Germany', 'Italian, born Greece',
       'Norwegian', 'Continental', 'Italian (active Ancona)', 'Hungarian',
       'Southern Netherlands', 'Sienese', 'France', 'Veronese',
       'Southern Germany or Austria', 'Iranian-British', 'Flemish',
       'Swedish', 'American', 'Southern Netherlands, Ghent (?)',
       'Lombard', 'Greek', 'British, Scottish', 'Danish',
       'British, Welsh', 'Spanish (?)', 'French, born Japan',
       'French, born Romania', 'Czechoslovakian',
       'British, born Scotland', 'French, born Germany',
       'British, born Canada', 'Italian, Lombard (probably Pavia)',
       'French, born Lithuania', 'British, born Spain',
       'French, born Poland', 'French, born Hungary',
       'Italian, born Brazil', 'Polish', 'South African',
       'French, born Ukraine', 'Italian, born Argentina',
       'Ukrainian, born Russian Empire', 'European', 'Finnish',
       'Portuguese', 'British, born The Netherlands',
       'Italian, Bolognese', 'South Netherlandish', 'Italian, Florentine',
       'Irish', 'Northern European', 'British/Irish',
       'French, born Russia', 'French, born China',
       'French, born Switzerland', 'French(?)', 'German (?)', 'Japanese',
       'Dutch, British'], dtype=object)

In [14]:
def complete_country(row):
    countries = {"Flemish":"Belgium", "North France":"France",
                 "Flanders":"Belgium", "italy":"Italy", "German":"Germany"}
    nationalities = {
    "Italian":"Italy",
    "Emilian":"Italy",
    "Netherlandish":"Netherlands",
    "French":"France",
    "Dutch":"Netherlands",
    "Swiss":"Switzerland",
    "British":"England",
    "Czech":"Czech Republic",
    "Belgian":"Belgium",
    "German":"Germany",
    "Spanish":"Spain",
    "Austrian":"Austria",
    "Romanian":"Romania",
    "Hungarian":"Hungary",
    "Swedish":"Sweden",
    "American":"United States",
    "Greek":"Greece",
    "Norwegian":"Norway",
    "Continental":float("nan"),
    "Italian (active Ancona)":"Italy",
    "Hungarian":"Hungary",
    "Southern Netherlands":"Netherlands",
    "Sienese":"Italy",
    "France":"France",
    "Veronese":"Italy",
    "Southern Germany or Austria":"Austria",
    "Iranian-British":"England",
    "Flemish":"Belgium",
    "Swedish":"Sweden",
    "American":"United States",
    "Southern Netherlands, Ghent (?)":"Belgium",
    "Lombard":"Italy",
    "Greek":"Greece",
    "British, Scottish":"Scotland",
    "Danish":"Denmark",
    "British, Welsh":"Wales",
    "Spanish (?)":"Spain",
    "French, born Japan":"Japan",
    "French, born Romania":"Romania",
    "Czechoslovakian":"Czech Republic",
    "British, born Scotland":"Scotland",
    "French, born Germany":"Germany",
    "British, born Canada":"Canada",
    "Italian, Lombard (probably Pavia)":"Italy",
    "French, born Lithuania":"Lithuania",
    "British, born Spain":"Spain",
    "French, born Poland":"Poland",
    "French, born Hungary":"Hungary",
    "Italian, born Brazil":"Brazil",
    "Polish":"Poland",
    "South African":"South Africa",
    "French, born Ukraine":"Ukraine",
    "Italian, born Argentina":"Argentina",
    "Ukrainian, born Russian Empire":"Russia",
    "European":"Undefined",
    "Finnish":"Finland",
    "Portuguese":"Portugal",
    "British, born The Netherlands":"Netherlands",
    "Italian, Bolognese":"Italy",
    "South Netherlandish":"Belgium",
    "Italian, Florentine":"Italy",
    "Irish":"Ireland",
    "Northern European":"Swedish",
    "British/Irish":"Ireland",
    "French, born Russia":"Russia",
    "French, born China":"China",
    "French, born Switzerland":"Switzerland",
    "French(?)":"France",
    "German (?)":"Germany",
    "Japanese":"Japan",
    "Dutch, British":"Netherlands"
}
    
    if not pd.isna(row["country"]):
        row["country"] = countries.get(row["country"], row["country"])


    elif not pd.isna(row["artistNationality"]):
        row["country"] = nationalities.get(row["artistNationality"])

    return row

In [16]:
df = df.apply(complete_country, axis=1)

,objectID,isHighlight,accessionYear,isPublicDomain,objectName,artistDisplayName,artistNationality,artistGender,objectBeginDate,objectEndDate,country
0,459039.0,False,1975.0,True,Painting,Francesco Francia,Italian,NaN,1509.0,1518.0,Italy
1,459208.0,True,1975.0,True,Manuscript and illuminations,Francesco di Marco Marmitta da Parma,Emilian,NaN,1497.0,1503.0,Italy
2,459185.0,True,1975.0,True,Drawing,Francesco di Giorgio Martini,Italian,NaN,1485.0,1495.0,Italy
3,459253.0,True,1975.0,True,Leaf from a book of hours (?),Gerard David,Netherlandish,NaN,1482.0,1493.0,Netherlands
4,459254.0,True,1975.0,True,Manuscript and illuminations,Simon Bening,Netherlandish,NaN,1558.0,1558.0,Netherlands
...,...,...,...,...,...,...,...,...,...,...,...
2917,15009.0,False,2006.0,True,"Painting, miniature",David Boudon,Swiss,NaN,1748.0,1816.0,Switzerland
2918,15115.0,False,2006.0,True,"Painting, miniature",Edward Miles,British,NaN,1752.0,1828.0,England
2919,15114.0,False,2006.0,True,"Painting, miniature",Edward Miles,British,NaN,1752.0,1828.0,England
2920,492401.0,False,1987.0,False,NaN,Guido Heigl,German,NaN,1920.0,1920.0,Germany
2921,256179.0,False,1993.0,False,"Kylix fragment, tondo",Onesimos,NaN,NaN,-510.0,-500.0,NaN

In [18]:
df["country"].unique()

array(['Italy', 'Netherlands', 'France', 'Switzerland', nan, 'England',
       'Czech Republic', 'Belgium', None, 'Germany', 'Spain', 'Austria',
       'Romania', 'Norway', 'Hungary', 'Sweden', 'Ireland', 'Greece',
       'Scotland', 'Denmark', 'Wales', 'Japan', 'Canada', 'Lithuania',
       'Poland', 'Brazil', 'South Africa', 'Ukraine', 'Argentina',
       'Russia', 'Undefined', 'Finland', 'Portugal', 'Swedish', 'China',
       'United States'], dtype=object)